# Part of the sovereign-stack project.
# .backup.env Template
# Version: See version.py
#
# Copyright (C) 2026 Henk van Hoek
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see [https://www.gnu.org/licenses/](https://www.gnu.org/licenses/).

# --- Local USB Backup (8TB Drive) ---
TARGET_BASE="/mnt/usb-8tb/backups"
DB_PASSWORD="<REPLACE_WITH_SECURE_PASSWORD_FOR_DUMPS_AND_ENCRYPTION>"
LOGFILE="/home/<YOUR_LINUX_USER>/docker/logs/pi-backup.log"

# --- Off-site NAS Backup (3-2-1 Strategy) ---
# This creates the third copy of the 3-2-1 backup strategy
# Keep only the latest backup on NAS
NAS_BACKUP_IP="192.168.178.15"
NAS_BACKUP_USER="<YOUR_LINUX_USER>"
NAS_BACKUP_PASSWORD="<REPLACE_WITH_NAS_PASSWORD>"
NAS_BACKUP_PATH="/volume1/backup_pi"
NAS_SSH_KEY_PATH="/home/<YOUR_LINUX_USER>/.ssh/id_rsa"

# --- Remote Synapse VM (Lenovo) ---
SYNAPSE_VMS="100.70.19.12"
SYNAPSE_USER="<YOUR_LINUX_USER>"
SSH_KEY_PATH="/home/<YOUR_LINUX_USER>/.ssh/id_ed25519"
SYNAPSE_REMOTE_PATH="/home/<YOUR_LINUX_USER>/synapse_backup"
DB_CONTAINER_NAME="synapse-db"
DB_USER="synapse_user"

# --- Signal Alerts ---
SIGNAL_URL="http://<signal-api-ip>:<port>/v2/send"
SIGNAL_PASS="<REPLACE_WITH_SIGNAL_API_PASSWORD>"
SIGNAL_SENDER="+31612345678"
SIGNAL_RECIPIENT="+31612345678"
