{
    "default": {
        "ssh_user": "username",
        "ssh_pass": "password",
        "ssh_key_path": "~/.ssh/id_rsa"
    },
    "overrides": {
        "specifieke-host-naam": {
            "ssh_user": "admin",
            "ssh_pass": "geheim-wachtwoord"
        }
    }
}
